<%- include('../partials/header.ejs')%>



<p class="indexPara">
    Welcome to Anime Connections!
    </p>
    
    <p class="para">
        <br>
    We are a Connection Website run by two cool people!
    <br>
    
    <p class="para">Take a look at our other website to look at more Connections</p>

    <p class="para"> <a class="active" href="https://animecons.com/events/">Connection Worldwide</a> </p>

    <%- include('../partials/footer.ejs')%>















