<%- include('../partials/header.ejs')%>

<p class="indexPara">
    Welcome to Anime Connections!
    </p>
    
    <p class="para">
        <br>
    Our 

    <a href= "https://www.instagram.com/animeexpo/?hl=en" >
    Instagram 
    </a>
    
    
    and 
    
    
    <a href = "https://twitter.com/AnimeExpo?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
    Twitter 
    </a>
    
    
    
    links!
    <br>
    <br>
   (Hint: click the word for the link!)
    <%- include('../partials/footer.ejs')%>











