<!-- Tabs  -->
<div class="footer">
   
    <img src="/images/ins.png" alt="Anime Connections" class="foot">


    <img src="/images/twitter.png" alt="Anime Connections" class="foot">
   

    
    <a class="active" href="/">Anime Connections ©</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</div>
</body>
</html>
