
<%- include('./partials/header.ejs')%>

<p class="indexPara">
    Welcome to Anime Connections!
    </p>
    
    <p class="para">
        <br>
    You can create events to discuss your favorite anime shows and even watch shows together.
    <br>
    You can connect with fellow anime lovers and learn about new shows!
    <br>
    Check Out the Connections Tab to browse available connections!
    </p>

    <img src="https://dailyillini.com/wp-content/uploads/2020/07/best-anime-on-netflix-1.jpg" alt="Anime Image" class="homeImage">
    <br>
 
    <%- include('./partials/footer.ejs') %>
